# sets- it can be mutable or we can change

In [1]:
s1={1,2,3}
s2={1,2,3,4,5}                                 //union
s1|s2

{1, 2, 3, 4, 5}

In [2]:
s1  & s2                              // intersection

{1, 2, 3}

In [5]:
s1 - s2                                  // difference

set()

In [8]:
s2-s1

{4, 5}

In [9]:
list1={1,2,3,4,4,3,5,2,6,7,3,8,6,9,8}
set(list1)                                                 //removes duplicate values

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [17]:
len(list1)                  // size of an set

9

In [21]:
9 in list1                  // to check whether that element present or not

SyntaxError: invalid syntax (<ipython-input-21-277e2a516e8a>, line 1)

In [27]:
s2 ^ s1

{4, 5}

In [30]:
s1.add(10)
s1                                                             // adding of element in set

{1, 2, 3, 10}

In [31]:
s1.remove(3)                                                         // removing of an element
s1

{1, 2, 10}

# list comphrahences

In [39]:
p=[]
for x in range(20):
      p.append(x**2)
print (p)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [46]:
[x**2 for x in range(20)]

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361]

In [48]:
[x**2 for x in range(20) if x%5==0]

[0, 25, 100, 225]

In [55]:
[x for x in range(100) if x%2==0]

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [56]:
[x for x in range(100) if x%2 != 0]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [59]:
[(x,x**2) for x in range(100)]

[(0, 0),
 (1, 1),
 (2, 4),
 (3, 9),
 (4, 16),
 (5, 25),
 (6, 36),
 (7, 49),
 (8, 64),
 (9, 81),
 (10, 100),
 (11, 121),
 (12, 144),
 (13, 169),
 (14, 196),
 (15, 225),
 (16, 256),
 (17, 289),
 (18, 324),
 (19, 361),
 (20, 400),
 (21, 441),
 (22, 484),
 (23, 529),
 (24, 576),
 (25, 625),
 (26, 676),
 (27, 729),
 (28, 784),
 (29, 841),
 (30, 900),
 (31, 961),
 (32, 1024),
 (33, 1089),
 (34, 1156),
 (35, 1225),
 (36, 1296),
 (37, 1369),
 (38, 1444),
 (39, 1521),
 (40, 1600),
 (41, 1681),
 (42, 1764),
 (43, 1849),
 (44, 1936),
 (45, 2025),
 (46, 2116),
 (47, 2209),
 (48, 2304),
 (49, 2401),
 (50, 2500),
 (51, 2601),
 (52, 2704),
 (53, 2809),
 (54, 2916),
 (55, 3025),
 (56, 3136),
 (57, 3249),
 (58, 3364),
 (59, 3481),
 (60, 3600),
 (61, 3721),
 (62, 3844),
 (63, 3969),
 (64, 4096),
 (65, 4225),
 (66, 4356),
 (67, 4489),
 (68, 4624),
 (69, 4761),
 (70, 4900),
 (71, 5041),
 (72, 5184),
 (73, 5329),
 (74, 5476),
 (75, 5625),
 (76, 5776),
 (77, 5929),
 (78, 6084),
 (79, 6241),
 (80, 6400),
 (81, 6561),
 (82, 6724),
 (83, 6889),
 (84, 7056),
 (85, 7225),
 (86, 7396),
 (87, 7569),
 (88, 7744),
 (89, 7921),
 (90, 8100),
 (91, 8281),
 (92, 8464),
 (93, 8649),
 (94, 8836),
 (95, 9025),
 (96, 9216),
 (97, 9409),
 (98, 9604),
 (99, 9801)]

In [61]:
s1="abcdabcdfr"
s2="abc"
{x for x in s1 if x not in s2}

{'d', 'f', 'r'}

In [63]:
set3=set()
for x in s1:
    if(x not in s2):
        set3.add(x)
print(set3)

{'d', 'r', 'f'}